
body{
background-image: url(../img/formula1.png);
}

header {
    background-color: #151515; /* Fondo oscuro */
    padding: 10px 20px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 100%;
  }
  
  .logo {
    width: 60px;
    height: auto;
  }
  
  .linea {
    height: 50px;
    width: 1px;
    background-color: #ffffff30;
  }
  
  .texto-header {
    color: white;
    font-size: 18px;
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  .carro {
    height: 50px;
    object-fit: contain;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d9d9d9;
    padding: 6px 12px;
    border-radius: 8px;
  }
  
  .foto {
    width: 24px;
    height: 24px;
  }
  
  .nombre {
    margin: 0;
    font-size: 16px;
    color: black;
  }

.pilotos{
    margin-right: 1600px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-top: 60px;
}

.circuitos{
    margin-right: 700px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    position: relative;
    top: -60px;
    margin-left: 850px;
}

.vehiculos{
    margin-right: 30px;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    position: relative;
    top: -120px;
    margin-left: 1550px;

}

.pilotos-cont{
    margin-right: 1500px;
    position: relative;
    top: -70px;
}

.circuitos-cont{
    margin-right: 1200px;
    position: relative;
    top: -500px;
    left: 650px;
}

.vehiculos-cont{    
    margin-right: 1500px;
    position: relative;
    top: -1000px;
    left: 1500px;
}


