body {
    background-color: black;
    background-image: url(../img/formula1.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Michroma", sans-serif;
}

/* Header estilos */
header {
    padding: 1rem 2rem;
    background-color: #171717;
}
    
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    max-width: 100%;
}

.logo {
  width: 4rem;
  height: auto;
/*segundo elemento flexible se contraiga tres veces más que el resto:*/
  flex-shrink: 0;
}

.linea {
    height: 3rem;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.texto-header {
    color: white;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin: 0;
    flex-grow: 1;
}

.carro {
    height: 3rem;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-color: #d9d9d9;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.foto {
    width: 1.5rem;
    height: 1.5rem;
}

.nombre {
    margin: 0;
    font-size: 0.9rem;
    color: black;
}


/* CARRUSEL*/
.swiper-container {
    width: 100%;
    max-width:max-content;
    height: 30vw;
    margin: 5vw auto;
    overflow: hidden;
    position: relative;
}

/* Estilos para cada slide */
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
}

/* Estilos para los puntos de paginación */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 1;
    margin: 0 6px !important;
}
.swiper-pagination-bullet-active {
    background-color: #ffffff; 
}

.swiper-button-next,
.swiper-button-prev {
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;
}

/* Efecto hover para las flechas */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: rgb(255, 255, 255);
}

/* Estilos para el título de cada slide */
.swiper-slide h2 {
    font-family: 'Michroma', sans-serif;
    color: #ffffff;
    margin-bottom: 2vw;
    font-size: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .linea, .carro {
        display: none;
    }
    
    .texto-header {
        width: 100%;
        order: 3;
        margin-top: 1rem;
    }
}