body{
    background-image: url(../img/formula1.png);
}
    
header {
    background-color: #151515; /* color de fondo oscuro */
    padding: 10px 20px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    gap: 20px;
  }
  
  .logo {
    width: 60px;
    height: auto;
  }
  
  .linea {
    height: 50px;
    width: 1px;
    background-color: #ffffff30; /* línea sutil */
  }
  
  .menu {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    justify-content: center;
  }
  
  .menu p {
    color: white;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
  }
  
  .carro {
    height: 50px;
    object-fit: contain;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d9d9d9;
    padding: 6px 12px;
    border-radius: 8px;
  }
  
  .foto {
    width: 24px;
    height: 24px;
  }

    .btn-volver {
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.5vw;

    width: 25vw;
    height: 3.5vw;

    font-size: 1.2vw;
    position: relative;
    top: 30vw;
    left: 40vw;

  }