@font-face {
    font-family: "kufam";
    src: url(../font/Kufam-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
    z-index: 0;
}

.crear {
    max-height: 95vh;
    overflow-y: auto;
    padding-right: 0.833vw;
    scroll-behavior: smooth;
    background-color: #161616;
    border-radius: 0.521vw;
    position: fixed;
    top: 12.963vh;
    right: 20.833vw;
    height: 70%;
    width: 54.583vw;

}

.header-container {
    display: flex;

}

.cabecita img {
    width: 4.635vw;
    margin-left: 1.563vw;
}

.texto {
    color: white;
    font-family: "kufam";
    margin-top: 1.823vw;
    margin-left: 1.563vw;
}

.linea {
    border: 0.1vh solid #424242;
    margin-left: 1.563vw;
    margin-right: 1.563vw;
}

.titulo {
    color: white;
    margin-left: 2.604vw;
    margin-top: 1.563vw;
}

#opciones {
    margin-left: 2.604vw;
    width: 25vw;
    height: 2vw;
    border-radius: 0.5vw;
    font-size: 1vw;
}

.nombre {
    color: white;
    margin-left: 2.604vw;
    margin-top: 1.042vw;
    border-radius: 0.5vw;

}

.nombre-input {
    margin-left: 2.604vw;
    width: 47.135vw;
    height: 2vw;
    border-radius: 0.5vw;
    padding-left: 1vw;
        font-size: 1vw;

}

.apellidos {
    color: white;
    margin-left: 2.604vw;
    margin-top: 1.042vw;
}

.apellidos-input {
    padding-left: 1vw;

    margin-left: 2.604vw;
    width: 47.135vw;
    height: 2vw;
    border-radius: 0.5vw;
        font-size: 1vw;


}

.fecha {
    color: white;
    margin-left: 2.604vw;
    margin-top: 1.042vw;
}

.fecha-input {
    margin-left: 2.604vw;
    width: 21vw;
    height: 2vw;
    border-radius: 0.5vw;
    padding-left: 1vw;
        font-size: 1vw;
}

.opciones-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.417vw 1.25vw;
    max-width: 26.042vw;
    font-size: 1vw;

}

.pais {
    color: white;
    margin-left: 2.604vw;
    margin-top: 1.042vw;

}

#pais {
    margin-left: 2.604vw;
    width: 22.2vw;
    height: 2vw;
    border-radius: 0.5vw;
    padding-left: 1vw;
        font-size: 1vw;



}

.email {
    color: white;
    margin-left: 2.604vw;
    margin-top: 1.042vw;
}

.email-input {
    margin-left: 2.604vw;
    width: 47.135vw;
    height: 2vw;
    border-radius: 0.5vw;
    padding-left: 1vw;
        font-size: 1vw;



}


.contraseña {
    color: white;
    margin-left: 2.604vw;
    margin-top: 1.042vw;
}

.contraseña-input {
    margin-left: 2.604vw;
    width: 47.135vw;
    height: 2vw;
    border-radius: 0.5vw;
    padding-left: 1vw;

        font-size: 1vw;

}

.info {
    margin-left: 2.604vw;
    margin-top: 0.521vw;
    color: white;
    font-size: 0.938vw;
    margin-bottom: 0.625vw;
            font-size: 1vw;

}

.requisitos-container {
    margin-left: 2.604vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.417vw 1.25vw;
    max-width: 26.042vw;
}

.requisitos {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 0.833vw;
    line-height: 1.4;
    

}

.check-container {
    display: flex;
    max-width: 41.667vw;
}

#cbox {
    margin-left: 2.604vw;
    margin-top: 1vw;
}

.acuerdo {
    margin-top: 3vw;
    color: white;
    margin-left: 2.5vw;
            font-size: 1vw;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.boton {
    background-color: #CF2828;
    color: #FFFFFF;
    border-radius: 0.313vw;
    border: none;
    margin-top: 2.5vw;
    margin-left: 13.021vw;
    width: 27.448vw;
    height: 2.5vw;
    margin-bottom: 2vw;
            font-size: 1vw;

}