@font-face {
    font-family: "kufam";
    src: url(../font/Kufam-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
    z-index: 0;
}

.crear{
    max-height: 90vh;
    overflow-y: auto;
    padding-right: 16px;
    scroll-behavior: smooth;
    background-color: #161616;
    border-radius: 10px;
    position: fixed;
    top: 140px;
    right:400px ;
    height: 70%;
    width: 1048px;

}

.header-container{
    display: flex;

}

.cabecita img{
    width: 89px;
    margin-left: 30px;
}

.texto{
    color: white;
    font-family: "kufam";
    margin-top: 35px;
    margin-left: 30px;

}

.linea{
    border: 1px solid,#424242;
    opacity: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

.titulo{
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}

#opciones{
    margin-left: 50px;
    width: 525px;
    height: 30px;
}

.nombre{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.nombre-input{
    margin-left: 50px;
    width: 905px;
    height: 30px;
}

.apellidos{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.apellidos-input{
    margin-left: 50px;
    width: 905px;
    height: 30px;
}

.fecha{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.fecha-input{
    margin-left: 50px;
    width: 393px;
    height: 30px;
}

.opciones-container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 8px 24px; 
    max-width: 500px;
}

.pais{
    color: white;
    margin-left: 50px;
    margin-top: 20px;

}
#pais{
    margin-left: 50px;
    width: 393px;
    height: 30px;
}

.email{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.email-input{
    margin-left: 50px;
    width: 905px;
    height: 30px;
}

.email-verificar{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.email-verificar-input{
    margin-left: 50px;
    width: 905px;
    height: 30px;
}

.contraseña{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}

.contraseña-input{
    margin-left: 50px;
    width: 905px;
    height: 30px;
}


.info {
    margin-left: 50px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 12px;
}
  
.requisitos-container {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
    gap: 8px 24px; /* espacio entre filas y columnas */
    max-width: 500px; /* ancho opcional para limitar la línea */
}
  
.requisitos {
    color: white;   
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
}

.check-container{
    display: flex;
    max-width: 800px;    
}

#cbox{
margin-left: 50px;
}

.acuerdo{
    margin-top: 40px;
    color: white;
    margin-left: 50px;
}

a{   
color: #FFFFFF;
text-decoration: none;
}

.boton{
    background-color: #CF2828;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
    margin-left: 250px;

    width: 527px;
    height: 59px;
}